$grid-width: 70px;

.grid-item {
	flex: 1 $grid-width;
	width: $grid-width;
	height: $grid-width;
	box-sizing: border-box;
	font-size: 1.4rem;
	line-height: $grid-width;
	text-align: center;
	border: 0.5px solid #666;

	img.image {
		max-width: 100%;
		height: auto;
	}
	.opposite {
		animation: 0.6s oppositeAnimate linear;
	}
	@keyframes oppositeAnimate {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
