* {
	font-family: monospace;
	font-size: 1.2rem;
}

.heading {
	text-align: center;
	font-size: 2rem;
}

.game-container {
	display: flex;
	flex-flow: row wrap;
}

.game-container > .status-container {
	flex: 1 350px;
}

.game-container > div.el {
	flex: 2 400px;
}

div.cover {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
}

.play {
	display: block;
	margin: 10px auto;
	padding: 5px;
	font-size: 1rem;
	width: 150px;
	cursor: pointer;
	background-color: white;
}

.play:hover {
	background-color: rgb(253, 255, 240);
}
